* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}

h3 {
  font-size: 27px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 1rem 0;
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  color: #fff;
  margin: 1rem 0;
  outline: none;
  border: none;
  border-radius: 30px;
}

.cyan-btn {
  background: hsl(171, 66%, 44%);
  box-shadow: 2px 2px 2px 2px hsl(171, 66%, 27%);
}

.purple-btn {
  background: hsl(233, 100%, 69%);
  box-shadow: 2px 2px 2px 2px hsl(233, 61%, 52%);
}

.container {
  padding: 0 2rem;
}

.header {
  background: url(/images/bg-header-mobile.png) top/cover no-repeat;
  padding: 6rem 0;
}

.header-content {
  &__title {
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
  }

  &__text {
    padding-bottom: 2rem;
  }
}

.snippets {
  margin-bottom: 8rem;

  &__text {
    padding: 1rem 0 3rem 0;
  }

  &__img {
    width: 100%;
    padding-bottom: 3rem;
  }
}

.access {
  &__img {
    width: 100%;
    padding: 2rem 0 4rem 0;
  }

  &__text {
    padding-top: 1rem;
  }
}

.supercharge {
  margin-bottom: 5rem;

  &__text {
    margin: 1rem 0 3rem 0;
  }

  &__section {
    padding: 2rem 0;

    &-img {
      padding-bottom: 2rem;
    }

    &-title {
      padding-bottom: 1rem;
    }
  }
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 40%;
    padding: 2rem 0;
  }
}

.clipboard {
  padding-bottom: 10rem;

  &__text {
    padding: 1rem 0 2rem 0;
  }
}

.footer {
  background: hsl(202, 11%, 66%);
}

.footer-content {
  color: hsl(210, 10%, 33%);
  padding: 3rem 0;

  &__logo {
    width: 20%;
    padding-bottom: 2rem;
  }

  &__li {
    list-style: none;
    padding: 1rem 0;
  }

  &__social {
    padding: 2rem 1rem;
  }
}
